<template>
  <section>
    <header>
      <h1>Les parties disponibles</h1>
    </header>

    <section class="block__body">
      <div v-if="load.loading" class="game_progress-circular">
        <v-progress-circular indeterminate color="principal"/>
      </div>

      <item-card v-for="game in gamesLocal"
                 :key="game.id"
                 :item="game"
                 :options-displayed="options"
                 :started="started(game.id)"
                 :stopped="stopped(game.id)"
                 :class="{ cardPointer: !isAdmin }"
                 v-else-if="load.loaded"
                 @card-click="onSelectGame(game.id)"
                 @start-option="onStartQuestionnaire(game.id)"
                 @stop-option="onStopQuestionnaire(game.id)"
      />

      <p class="game__no-data" v-else v-html="noDataMessage"></p>
    </section>

    <v-dialog v-model="modal.display" width="500">
      <v-card>
        <v-card-title primary-title>Sélectionner une équipe</v-card-title>

        <v-card-text>
          <v-select :items="teams"
                    item-text="name"
                    item-value="id"
                    v-model="teamSelected"
                    label="Équipe sélectionnée"
          >
            <template v-slot:no-data>
              <div class="v-list-item theme--light">
                <div class="v-list-item__content">
                  <div class="v-list-item__title">
                    <router-link :to="{ name: 'team_create' }">Aucune équipe créez-en une.</router-link>
                  </div>
                </div>
              </div>
            </template>
          </v-select>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="principal"
                 text
                 @click="onCreateParty"
          >
            Valider
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'GameHome',
  components: {
    ItemCard: () => import('@/components/General/Page/ItemCard')
  },
  data: () => ({
    gamesLocal: [],
    load: {
      loading: true,
      loaded: false
    },
    modal: {
      display: false,
      gameSelected: null
    },
    options: {
      modifyOption: false,
      addOption: false,
      publishOption: false,
      deleteOption: false
    },
    teamSelected: null,
    user: null
  }),
  computed: {
    ...mapGetters([
      'gamesPublished',
      'instance',
      'party',
      'teams'
    ]),
    isAdmin () {
      return this.user.roles[0] === 'ROLE_ADMIN'
    },
    noDataMessage () {
      return this.isAdmin
        ? `Aucune partie publiée, <a href="/admin/parties">publiez-en une avant de pouvoir jouer.</a>`
        : `Aucune partie démarrée, attendez qu'un maître du jeu en commence une.`
    }
  },
  async created () {
    this.axios.get('/users')
      .then(response => {
        this.user = response.data.item
      })
    await this.loadGames(true)
    this.loadTeam()

    if (this.gamesPublished.length !== 0) {
      this.load.loaded = true
    }

    this.gamesLocal = this.gamesPublished.map(game => {
      let gameLocal = Object.assign({}, game)
      const dateCut = game.updatedAt.toString().split('T')[0].split('-')
      gameLocal.updatedAt = `${dateCut[2]} ${dateCut[1]} ${dateCut[0]}`
      return gameLocal
    })

    this.options.startOption = !this.gamesLocal.started
    this.options.stopOption = this.gamesLocal.started

    this.load.loading = false
  },
  methods: {
    ...mapActions([
      'createParty',
      'loadGames',
      'loadTeam',
      'startGame',
      'stopGame'
    ]),
    async onCreateParty () {
      await this.createParty({
        teamId: this.teamSelected,
        gameId: this.modal.gameSelected
      })

      await this.$router.push({
        name: 'game_wait_page',
        params: {
          partyId: this.party.id,
          teamId: this.teamSelected
        }
      })
    },
    onSelectGame (gameId) {
      if (!this.isAdmin) {
        this.modal.gameSelected = gameId
        this.modal.display = true
      }
    },
    async onStartQuestionnaire (gameId) {
      await this.startGame(gameId)
      await this.$router.push({ name: 'game_admin_dashboard_show', params: { id: this.instance.id } })
    },
    async onStopQuestionnaire (gameId) {
      await this.stopGame(gameId)
    },
    started (gameId) {
      return this.isAdmin
        ? !this.gamesLocal.find(game => game.id === gameId).started
        : false
    },
    stopped (gameId) {
      return this.isAdmin
        ? this.gamesLocal.find(game => game.id === gameId).started
        : false
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/listItemsStyle";

  .cardPointer {
    cursor: pointer;
  }
</style>
