<template>
  <section id="user__question__template">
    <section id="question__text">
      <i class="mdi mdi-help"></i>
      {{ questionComp.text }}
    </section>
    <aside v-if="questionComp.type === 'image'" id="question__image__aside">
      <img :src="imgSrc" alt="Image de question"/>
    </aside>
    <aside v-else-if="questionComp.type === 'video'" id="question__video__aside">
      <i class="mdi mdi-video"></i>
    </aside>
    <footer id="question__answers">
      <i class="mdi mdi-forum"></i>

      <section v-if="answerType === 'mcq'">
        <v-radio-group v-model="value"
                       v-if="questionComp.definition.answerSettings.qcu"
                       @change="onValueChange"
        >
          <v-radio v-for="answer in questionComp.definition.answerSettings.answers"
                   :key="answer.id"
                   :label="answer.text"
                   :value="answer.id"
          ></v-radio>
        </v-radio-group>

        <div v-else>
          <span v-for="answer in questionComp.definition.answerSettings.answers"
                :key="answer.id"
          >
             <v-checkbox :label="answer.text"
                         :value="answer.id"
                         @change="onCheckboxChangeValues({ id: answer.id, event: $event})"
             />
          </span>
        </div>
      </section>

      <section v-else-if="answerType === 'open'">
        <!-- TODO: Gérer les mutli champs -->
        <v-text-field v-for="number in questionComp.definition.answerSettings.openNumberFields"
                      :key="number"
                      :label="`Réponse ${number}`"
                      :value="value"
                      @input="onValueChange"
        />
      </section>
    </footer>

    <div id="question__actions">
      <v-btn color="cancel" @click="onTryChangePage">Question suivante</v-btn>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'QuestionView',
  data: () => ({
    value: null,
    values: [],
    questionLocal: null
  }),
  computed: {
    ...mapGetters([
      'party',
      'question'
    ]),
    questionComp () {
      const emptyQuestion = {
        definition: {},
        id: null,
        text: '',
        type: ''
      }

      return this.questionLocal !== null && this.questionLocal !== undefined ? this.questionLocal : emptyQuestion
    },
    imgSrc () {
      return this.questionComp.id !== null ? require(`@/assets/img/questions/${this.questionComp.definition.fileName}`) : ''
    },
    answerType () {
      return this.questionComp.definition.answerSettings !== undefined
        ? this.questionComp.definition.answerSettings.type
        : ''
    },
    answerSent () {
      return this.questionComp.definition.answerSettings !== undefined
        ? this.questionComp.definition.answerSettings.answerValue !== undefined
        : false
    }
  },
  async created () {
    await this.loadQuestion(this.$route.params.questionId)

    await this.loadAnswer({
      questionId: parseInt(this.$route.params.questionId),
      partyId: parseInt(this.$route.params.partyId),
      teamId: parseInt(this.$route.params.teamId)
    })

    this.questionLocal = Object.assign({}, this.question)

    if (this.answerSent) {
      this.value = this.questionComp.definition.answerSettings.answerValue
    }
  },
  async beforeRouteUpdate (to, from, next) {
    this.questionLocal = Object.assign({}, this.question)
    this.value = null
    this.values.splice(0, this.values.length)

    next()
  },
  methods: {
    ...mapActions([
      'checkNextQuestion',
      'loadAnswer',
      'loadParty',
      'loadQuestion',
      'sendAnswer'
    ]),
    async onTryChangePage () {
      if (Object.entries(this.party).length === 0) await this.loadParty(this.$route.params.partyId)
      this.checkNextQuestion({
        partyId: this.$route.params.partyId,
        instanceId: this.party.instance.id,
        questionId: this.$route.params.questionId,
        teamId: this.$route.params.teamId
      })
    },
    onValueChange (value) {
      this.value = value
      this.sendAnswer({
        questionId: parseInt(this.$route.params.questionId),
        partyId: parseInt(this.$route.params.partyId),
        teamId: parseInt(this.$route.params.teamId),
        value
      })
    },
    onCheckboxChangeValues (value) {
      value.event !== null
        ? this.values.push(value.id)
        : this.values = this.values.filter(valueLocal => valueLocal !== value.id)

      this.sendAnswer({
        questionId: parseInt(this.$route.params.questionId),
        partyId: parseInt(this.$route.params.partyId),
        teamId: parseInt(this.$route.params.teamId),
        value: JSON.stringify(this.values)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/color";
  @import "../../../assets/style/style";

  #user__question__template {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media all and (min-width: $m) {
      background-color: rgba(255, 255, 255, 0.75);
      padding: 20px;
      margin: 0;
    }

    i {
      background-color: $principal;
      position: absolute;
      color: white;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      left: -15px;
      top: calc(50% - 15px);

      @media all and (min-width: $m) {
        color: black;
        background-color: $valid;
      }
    }

    #question__text {
      border: 1px solid black;
      padding: 20px;
      position: relative;
      width: 100%;
    }

    #question__image__aside {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      width: 100%;

      img {
        width: 100%;

        @media all and (min-width: $m) {
          width: 50%;
        }
      }
    }

    #question__video__aside {
      margin-top: 10px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;

      i {
        position: static;
        background-color: transparent;
        color: black;
        font-size: 50px;
      }
    }

    #question__answers {
      padding: 20px;
      margin-top: 10px;
      border: 1px solid black;
      position: relative;
      width: 100%;

      .v-input::v-deep {
        padding: 0;
        margin: 0;

        .v-input__slot {
          margin: 0;
        }

        .v-messages {
          display: none;
        }
      }
    }

    #question__actions {
      margin-top: 10px;

      button:first-child {
        margin-right: 10px;
      }

      button:last-child {
        @media all and (min-width: $m) {
          background-color: $valid !important;
        }
      }
    }
  }
</style>
