<template>
  <section class="block__body">
    <h1>Bienvenue sur le quizz : {{ title }}</h1>
    <p>Merci d'attendre que toutes les équipes soient connectées et que le maître du jeu lance la partie.</p>
    <v-btn @click="onTryChangePage">Continuer</v-btn>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'waitPage',
  computed: {
    ...mapGetters([
      'party'
    ]),
    title () {
      return this.party.game !== undefined ? this.party.game.title : ''
    }
  },
  async created () {
    await this.loadParty(this.$route.params.partyId)
  },
  methods: {
    ...mapActions([
      'loadParty'
    ]),
    async onTryChangePage () {
      await this.axios.get(`/parties/${this.party.id}/instance/${this.party.instance.id}/question/0`)
        .then(response => {
          if (response.status === 200) {
            this.$router.push({
              name: 'game_question_pass',
              params: {
                questionId: response.data.item.id,
                partyId: this.$route.params.partyId
              }
            })
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/style";

  .block__body {
    @media all and (min-width: $m) {
      background-color: rgba(255, 255, 255, 0.75);
      padding: 15px;
    }

    h1 {
      margin-bottom: 15px;

      @media all and (min-width: $m) {
        margin-bottom: 30px;
      }
    }
  }
</style>
