@import 'color';

.block__header {
  height: 36px;
  display: flex;
  align-items: center;
  border: 1px solid $principal05;

  i {
    padding: 6px;
    background-color: $principal;
    color: white;
  }

  h2 {
    margin-left: 10px;
    font-weight: normal;
    font-size: 20px;
    color: $principal;
  }
}

.block__body {
  border: 1px solid $principal05;
  border-top: none;
  background-color: #f0f0f0;

  &.no__nav {
    padding: 5px;
  }
}
