// GENERAL

$principal: #1E88E5;
$principalDark: #005cb2;
$principalLight: #6ab7ff;

$principal05: rgba(30, 136, 229, 0.5);

$valid: #4CA2B7;
$validDark: #027387;
$validLight: #80d3e9;

$cancel: #D77E75;
$bgcBlock: #F5F5F5;

// FONT

$fontPrincipal: rgb(51, 51, 51);
