
@import "../../assets/style/style";
@import "../../assets/style/color";

header {
  position: relative;

  h1 {
    color: black;
    margin-bottom: 15px;

    @media all and (min-width: $m) {
      color: white;
      margin-bottom: 25px;
      padding-left: 5px;
    }
  }

  a.principal {
    position: absolute;
    top: 5px;
    right: 8px;
    color: white;

    @media all and (min-width: $m) {
      top: 10px;
      right: 10px;
      background-color: $valid !important;
      border-color: $valid !important;
      color: black;
    }
  }
}

.block__body {
  @media all and (min-width: $m) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  @media all and (min-width: $l) {
    grid-template-columns: repeat(3, 1fr);
  }

  .game__no-data {
    @media all and (min-width: $m) {
      grid-column: 1/3;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.75);
    }

    @media all and (min-width: $l) {
      grid-column: 1/4;
    }
  }
}
