<template>
  <item-form :title-form="texts.title"
             :button-ok-text="texts.button"
             @valid="onSaveTeam"
             @cancel="$router.push({ name: 'team_list' })"
  >
    <v-text-field :label="teamLocal.name.label"
                  v-model="teamLocal.name.text"
                  color="valid"
    />
    <section id="gamers__form">
      <header>
        <h2>Les joueurs</h2>
        <v-btn fab
               small
               color="principal"
               @click="onAddGamer"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </header>
      <p v-if="teamLocal.gamers.length === 0">Aucun joueur dans l'équipe ajoutez-en un en appuyant sur <i
              class="mdi mdi-plus-circle-outline"></i></p>
      <div class="gamer__field"
           v-for="(gamer, index) in teamLocal.gamers"
           :key="index"
           v-else
      >
        <v-text-field label="Nom du joueur"
                      v-model="gamer.name"
                      color="valid"
                      tabindex="1"
        />
        <v-btn fab
               small
               color="cancel"
               @click="onRemoveGamer(index)"
               tabindex="2"
        >
          <i class="mdi mdi-minus"></i>
        </v-btn>
      </div>
    </section>
  </item-form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'TeamCreate',
  components: {
    ItemForm: () => import('@/components/General/Page/ItemForm')
  },
  data: () => ({
    teamLocal: {
      name: {
        label: 'Nom de l\'équipe',
        text: ''
      },
      gamers: []
    },
    texts: {
      button: 'Créer',
      title: 'Création d\'une nouvelle équipe'
    }
  }),
  computed: {
    ...mapGetters([
      'team',
      'teams'
    ])
  },
  async created () {
    if (this.$route.params.id !== undefined) {
      await this.loadTeam(this.$route.params.id)
      this.teamLocal.name.text = this.team.name
      this.team.gamers.forEach(gamer => {
        this.teamLocal.gamers.push({ name: gamer })
      })
      this.texts.button = 'Modifier'
      this.texts.title = 'Modification de l\'équipe'
    }
  },
  methods: {
    ...mapActions([
      'createTeam',
      'loadTeam',
      'updateTeam'
    ]),
    onAddGamer () {
      this.teamLocal.gamers.push({ name: '' })
    },
    onRemoveGamer (index) {
      this.teamLocal.gamers.splice(index, 1)
    },
    async onSaveTeam () {
      this.$route.params.id !== undefined
        ? await this.updateTeam({
          id: this.$route.params.id,
          team: {
            name: this.teamLocal.name.text,
            gamers: this.teamLocal.gamers.map(gamer => gamer.name)
          }
        })
        : await this.createTeam({
          name: this.teamLocal.name.text,
          gamers: this.teamLocal.gamers.map(gamer => gamer.name)
        })

      await this.$router.push({ name: 'team_list' })
    }
  }
}
</script>

<style lang="scss" scoped>
  .gamer__field {
    padding-left: 15px;
    display: flex;
    align-items: center;

    button {
      margin-left: 20px;
    }

    i {
      font-size: 25px;
    }
  }
</style>
