<template>
  <section>
    <header>
      <h1>Les équipes</h1>
      <v-btn fab
             small
             color="principal"
             :to="{ name: 'team_create' }"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </header>

    <section class="block__body">
      <div v-if="load.loading" class="game_progress-circular">
        <v-progress-circular indeterminate color="principal"/>
      </div>

      <item-card v-for="team in teamsLocal"
                 :key="team.id"
                 v-else-if="load.loaded"
                 :item="team"
                 item-title="name"
                 item-description="gamers"
                 :options-displayed="options"
                 @modify-option="$router.push({ name: 'team_modification', params: { id: team.id } })"
                 @delete-option="onOpenModal(team.id)"
      >
        <template v-slot:sectionTitle>
          <h2 class="item-card__title">Joueurs</h2>
        </template>
      </item-card>

      <p class="game__no-data" v-else>
        Aucune équipe,
        <router-link :to="{ name: 'team_create' }">créez votre première équipe</router-link>
      </p>
    </section>

    <v-dialog v-model="modal.display" width="500">
      <v-card>
        <v-card-title primary-title>Supprimer l'équipe</v-card-title>

        <v-card-text>Êtes-vous sûr de vouloir supprimer l'équipe ? Cette suppression sera définitive.</v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary"
                 text
                 @click="onDelete"
          >
            Supprimer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'TeamHome',
  components: {
    ItemCard: () => import('@/components/General/Page/ItemCard')
  },
  data: () => ({
    load: {
      loading: true,
      loaded: false
    },
    modal: {
      display: false,
      teamIdToDelete: null
    },
    options: {
      modifyOption: true,
      addOption: false,
      publishOption: false,
      deleteOption: true
    },
    teamsLocal: []
  }),
  computed: {
    ...mapGetters([
      'teams'
    ])
  },
  async created () {
    await this.loadTeam()

    if (this.teams.length !== 0) {
      this.load.loaded = true
    }

    this.load.loading = false

    this.teamsLocal = this.teams.map(team => {
      let teamLocal = Object.assign({}, team)
      teamLocal.gamers = team.gamers.map(gamer => `- ${gamer}<br/>`).join('')
      return teamLocal
    })
  },
  methods: {
    ...mapActions([
      'deleteTeam',
      'loadTeam'
    ]),
    async onDelete () {
      await this.deleteTeam(this.modal.teamIdToDelete)
      this.modal.display = false
      this.teamsLocal.splice(this.teamsLocal.findIndex(team => team.id === this.modal.teamIdToDelete), 1)
      if (this.teamsLocal.length === 0) this.load.loaded = false
    },
    onOpenModal (id) {
      this.modal.teamIdToDelete = id
      this.modal.display = true
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/listItemsStyle";

  .item-card__title {
    color: white;
    font-size: 16px;
    text-decoration: underline;
  }
</style>
