<template>
  <section class="card__game">
    <v-tooltip v-if="game.published" top>
      <template v-slot:activator="{ on }">
        <svg v-on="on">
          <path d="m0,0 h50 l-50,50z"></path>
          <path d="m7,16 l2.83,-2.83 l3.38,3.39 l9.88,-9.89 l2.83,2.83 l-12.71,12.71 z"></path>
        </svg>
      </template>
      <span>Quizz publié</span>
    </v-tooltip>

    <item-card :item="game"
               :options-displayed="options"
               :publish-options-button="publishOptionsButton"
               @modify-option="$router.push({ name: 'admin_game_update', params: { id: gameId } })"
               @add-option="$router.push({ name: 'admin_game_show', params: { id: gameId } })"
               @publish-option="onPublish"
               @delete-option="$emit('on-delete', gameId)"
    />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Game',
  components: {
    ItemCard: () => import('@/components/General/Page/ItemCard')
  },
  props: {
    gameId: {
      type: Number,
      required: true
    }
  },
  computed: {
    ...mapGetters([
      'games'
    ]),
    dateGame () {
      const dateCut = this.games.find(game => game.id === this.gameId).updatedAt.toString().split('T')[0].split('-')
      return `${dateCut[2]} ${dateCut[1]} ${dateCut[0]}`
    },
    game () {
      let gameEmpty = { id: null, title: '', description: '', createdAt: null, updatedAt: null, questions: [] }
      let gameSaved = Object.assign({}, this.games.find(game => game.id === this.gameId))
      if (gameSaved !== undefined) gameSaved.updatedAt = this.dateGame

      return gameSaved !== undefined ? gameSaved : gameEmpty
    },
    options () {
      return {
        modifyOption: !this.game.published,
        addOption: !this.game.published,
        publishOption: true,
        deleteOption: true
      }
    },
    publishOptionsButton () {
      return {
        icon: this.game.published ? 'mdi-download' : 'mdi-publish',
        text: this.game.published ? 'Dépublier le quizz' : 'Publier le quizz'
      }
    }
  },
  methods: {
    ...mapActions([
      'changePublishStatus'
    ]),
    onPublish () {
      this.changePublishStatus(this.gameId)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/style/color";
  @import "../../assets/style/style";

  $border: 1px solid rgba(0, 0, 0, 0.1);

  .card__game {
    text-decoration: none;
    height: 100%;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;

      path:first-child {
        fill: $principal;

        @media all and (min-width: $m) {
          fill: $valid;
        }
      }

      path:last-child {
        fill: #ffffff;
        left: 50px;
      }
    }
  }
</style>
