<template>
  <section>
    <section class="block__body">
      <h1>{{ titleForm }}</h1>

      <form novalidate>
        <slot></slot>
        <div class="form__actions">
          <v-btn color="valid"
                 @click.stop="$emit('valid')"
          >{{ buttonOkText }}
          </v-btn>
          <v-btn color="cancel"
                 @click.stop="$emit('cancel')"
          >Annuler
          </v-btn>
        </div>
      </form>
    </section>
  </section>
</template>

<script>
export default {
  name: 'ItemForm',
  props: {
    buttonOkText: {
      required: false,
      default: 'Valider',
      type: String
    },
    titleForm: {
      required: true,
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/style";
  @import "../../../assets/style/color";

  .block__body {
    @media all and (min-width: $m) {
      background-color: rgb(255, 255, 255, 0.75);
      padding: 5px;
    }

    form {
      padding: 5px;
      display: flex;
      flex-direction: column;

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        h2 {
          font-size: 20px;
        }

        button.principal {
          color: white;

          @media all and (min-width: $m) {
            background-color: $valid !important;
            border-color: $valid !important;
            color: black;
          }
        }
      }

      p {
        font-style: italic;
      }

      .v-input::v-deep {
        .valid--text {
          color: $principal !important;
          caret-color: $principal !important;

          @media all and (min-width: $m) {
            color: $validDark !important;
            caret-color: $validDark !important;
          }
        }

        .v-input__slot::after {
          border-color: $principal;

          @media all and (min-width: $m) {
            border-color: $validDark;
          }
        }
      }

      .form__actions {
        display: flex;
        justify-content: flex-end;

        button:first-of-type {
          margin-right: 15px;
          background-color: $principal !important;
          color: white;

          @media all and (min-width: $m) {
            background-color: $valid !important;
            color: black;
          }
        }
      }
    }
  }
</style>
