<template>
  <article @click.stop="$emit('card-click')">
    <section>
      <header>
        <h2 v-if="item.updatedAt">{{ item.updatedAt }}</h2>
        <div class="icons__actions">
          <i class="mdi mdi-pencil-outline"
             title="Modifier le quizz"
             v-if="optionsDisplayed.modifyOption"
             @click="$emit('modify-option')"
          ></i>
          <i class="mdi mdi-plus"
             title="Ajouter des questions"
             v-if="optionsDisplayed.addOption"
             @click="$emit('add-option')"
          ></i>
          <i class="mdi"
             :class="publishOptionsButton.icon"
             :title="publishOptionsButton.text"
             v-if="optionsDisplayed.publishOption"
             @click="$emit('publish-option')"
          ></i>
          <i class="mdi mdi-close-circle-outline"
             title="Clôturer le quizz"
             v-if="optionsDisplayed.deleteOption"
             @click="$emit('delete-option')"
          ></i>
          <i class="mdi mdi-menu-right"
             title="Démarrer le quizz"
             v-if="started"
             @click="$emit('start-option')"
          ></i>
          <i class="mdi mdi-stop"
             title="Clôturer le quizz"
             v-if="stopped"
             @click="$emit('stop-option')"
          ></i>
        </div>
      </header>

      <header>
        <h2>{{ itemTitleValue }}</h2>
      </header>

      <section>
        <slot name="sectionTitle"></slot>
        <p v-html="itemDescriptionValue"></p>
      </section>
    </section>
  </article>
</template>

<script>
export default {
  name: 'ItemCard',
  props: {
    item: {
      required: true,
      type: Object
    },
    itemDescription: {
      required: false,
      default: 'description',
      type: String
    },
    itemTitle: {
      required: false,
      default: 'title',
      type: String
    },
    optionsDisplayed: {
      required: true,
      type: Object
    },
    publishOptionsButton: {
      required: false,
      default: null,
      type: Object
    },
    started: {
      required: false,
      default: false,
      type: Boolean
    },
    stopped: {
      required: false,
      default: false,
      type: Boolean
    }
  },
  computed: {
    itemDescriptionValue () {
      return this.item[this.itemDescription]
    },
    itemTitleValue () {
      return this.item[this.itemTitle]
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/style";

  article {
    height: 100%;
    background-color: #ffffff;
    padding: 16px 16px 8px 16px;
    border-radius: 4px;
    box-shadow: 0 3px 4px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, .12);
    margin-bottom: 30px;

    @media all and (min-width: $m) {
      background-color: rgb(255, 255, 255, 0.1);
      border-radius: 0;
      box-shadow: none;
      margin: 0;
    }

    > section {
      header:first-child {
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.75;

        h2 {
          min-width: 75px;

          @media all and (min-width: $m) {
            color: white;
          }
        }

        .icons__actions {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            width: 30px;
            height: 30px;
            margin: 0 5px;
            cursor: pointer;

            &.mdi-menu-right {
              font-size: 30px;
            }

            @media all and (min-width: $m) {
              color: white;
              border-radius: 50%;
              transition: background-color 200ms;

              &:hover {
                background-color: rgba(255, 255, 255, 0.1);
              }
            }
          }
        }
      }

      header {
        h2 {
          margin: 5px 0;

          @media all and (min-width: $m) {
            color: white;
          }
        }
      }

      section {
        padding: 5px;

        p {
          margin: 0;

          @media all and (min-width: $m) {
            color: white;
          }
        }
      }
    }
  }
</style>
