<template>
  <section id="user__question__template">

  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'UserQuestionTemplate',
  computed: {
    ...mapGetters([
      'question'
    ])
  },
  created () {
    this.loadQuestion(this.$route.params.questionId)
  },
  methods: {
    ...mapActions([
      'loadQuestion'
    ])
  }
}
</script>

<style lang="scss" scoped>
  #user__question__template {

  }
</style>
