<template>
  <nav id="desktop__menu">
    <section>
      <div id="brand">
        <img :src="require('@/assets/img/static/icon-72x72.png')" alt="Icone du site"/>
      </div>

      <ul id="paths">
        <li>
          <router-link :to="{ name: 'admin_game_list' }"
                       :class="{ active__route: activeRoute('admin') }"
          >
            <i class="mdi" :class="iconLock"></i>
            <p>Admin</p>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'team_list' }"
                       :class="{ active__route: activeRoute('team') }"
          >
            <i class="mdi mdi-account-multiple"></i>
            <p>Équipe</p>
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'game_list' }"
                       :class="{ active__route: activeRoute('game') }"
          >
            <i class="mdi mdi-gamepad-variant"></i>
            <p>Parties</p>
          </router-link>
        </li>
      </ul>
    </section>
  </nav>
</template>

<script>
export default {
  name: 'DesktopNav',
  computed: {
    iconLock () {
      return localStorage.getItem('JWT__access__token') && localStorage.getItem('JWT__refresh__token')
        ? 'mdi-lock-open-variant'
        : 'mdi-lock'
    }
  },
  methods: {
    activeRoute (route) {
      return this.$route.name.split('_')[0] === route
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/style";

  #desktop__menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    display: none;

    @media all and (min-width: $m) {
      display: block;
    }

    section {
      background-color: #fff;
      width: 100%;
      margin: auto;
      display: flex;
      height: 60px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);

      @media all and (min-width: $m) {
        width: $m;
      }

      @media all and (min-width: $l) {
        width: $l;
      }

      #brand {
        img {
          height: 52px;
          margin: 4px 10px;
        }
      }

      #paths {
        display: flex;
        padding: 0;

        li {
          list-style: none;
          display: flex;
          width: 100px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 100%;

            i {
              margin-right: 10px;
              color: #606060;
            }

            p {
              margin: 0;
              color: #606060;
            }

            &.active__route {
              background-color: #e6e6e6;

              i {
                color: #333333;
              }

              p {
                color: #333333;
              }
            }
          }
        }
      }
    }
  }
</style>
