<template>
  <nav id="smartphone__menu">
    <router-link :to="{ name: 'admin_game_list' }"
                 :class="{ active__route: activeRoute('admin') }"
    >
      <i class="mdi" :class="iconLock"></i>
      <p>Admin</p>
    </router-link>
    <router-link :to="{ name: 'team_list' }"
                 :class="{ active__route: activeRoute('team') }"
    >
      <i class="mdi mdi-account-multiple"></i>
      <p>Équipe</p>
    </router-link>
    <router-link :to="{ name: 'game_list' }"
                 :class="{ active__route: activeRoute('game') }"
    >
      <i class="mdi mdi-gamepad-variant"></i>
      <p>Parties</p>
    </router-link>
  </nav>
</template>

<script>
export default {
  name: 'Nav',
  computed: {
    iconLock () {
      return localStorage.getItem('JWT__access__token') && localStorage.getItem('JWT__refresh__token')
        ? 'mdi-lock-open-variant'
        : 'mdi-lock'
    }
  },
  methods: {
    activeRoute (route) {
      if (this.$route.name) return this.$route.name.split('_')[0] === route
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/color";

  #smartphone__menu {
    background-color: $principalDark;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      width: 80px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        font-size: 24px;
        line-height: 24px;
        color: $principalLight;
      }

      p {
        font-size: 12px;
        line-height: 12px;
        margin: 0;
        color: $principalLight;
      }

      &.active__route {
        i, p {
          color: white;
        }
      }
    }
  }
</style>
