<template>
  <item-form :title-form="texts.title"
             :button-ok-text="texts.button"
             @valid="onValid"
             @cancel="$router.push({ name: 'admin_game_list' })"
  >
    <v-text-field :label="gameLocal.title.label"
                  v-model="gameLocal.title.text"
                  color="valid"
    />
    <v-text-field :label="gameLocal.description.label"
                  v-model="gameLocal.description.text"
                  color="valid"
    />
  </item-form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AdminCreate',
  components: {
    ItemForm: () => import('@/components/General/Page/ItemForm')
  },
  data: () => ({
    gameLocal: {
      title: {
        label: 'Titre du quizz',
        text: ''
      },
      description: {
        label: 'Description du quizz',
        text: ''
      }
    },
    texts: {
      button: 'Créer',
      title: 'Création d\'un nouveau quizz'
    }
  }),
  computed: {
    ...mapGetters([
      'game',
      'games'
    ])
  },
  async created () {
    if (this.$route.params.id !== undefined) {
      await this.loadGame(this.$route.params.id)
      this.gameLocal.description.text = this.game.description
      this.gameLocal.title.text = this.game.title
      this.texts.button = 'Modifier'
      this.texts.title = 'Modification du quizz'
    }
  },
  methods: {
    ...mapActions([
      'createGame',
      'loadGame',
      'updateGame'
    ]),
    onValid () {
      this.$route.params.id !== undefined
        ? this.updateGame({
          gameId: this.$route.params.id,
          description: this.gameLocal.description.text,
          title: this.gameLocal.title.text
        })
        : this.createGame(this.gameLocal)
    }
  }
}
</script>
