<template>
  <section id="dashboard">
    <v-btn @click="onRefresh">Rafraîchir</v-btn>
    <v-btn @click="onRefreshResults">Résultats</v-btn>
    <h1>{{ game.title }}</h1>

    <table>
      <thead>
      <tr>
        <th scope="col">Tableau de bord</th>
        <th scope="col"
            v-for="team in partyTeams"
            :key="team.id"
        >{{team.name}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="question in game.questions"
          :key="question.id"
      >
        <th scope="row">
          <v-switch @change="onChangeSwitch(question.id)" :label="question.text" color="principal"/>
        </th>
        <td v-for="team in partyTeams"
            :key="team.id"
            v-html="checkIfResults(question.id, team.id)"
        ></td>
      </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  data: () => ({
    teams: [],
    timeOut: null
  }),
  computed: {
    ...mapGetters([
      'game',
      'partyTeams',
      'results'
    ])
  },
  async created () {
    await this.loadGame(36)
    await this.loadPartyTeams(this.$route.params.id)
  },
  methods: {
    ...mapActions([
      'addQuestionToInstance',
      'loadAnswers',
      'loadGame',
      'loadPartyTeams'
    ]),
    onChangeSwitch (questionId) {
      this.addQuestionToInstance({
        questionId,
        instanceId: this.$route.params.id
      })
    },
    async onRefresh () {
      await this.loadPartyTeams(this.$route.params.id)
    },
    async onRefreshResults () {
      await this.loadAnswers(this.$route.params.id)
    },
    checkIfResults (questionId, teamId) {
      const result = this.results.find(result => result.team === teamId && result.question === questionId)

      if (result === undefined) return ''

      const question = this.game.questions.find(question => question.id === questionId)

      if (question.definition.answerSettings.type === 'open') return result.value

      const answer = question.definition.answerSettings.answers.find(answer => answer.id === result.value)

      if (answer !== undefined) return answer.text

      const results = JSON.parse(result.value)
      let answers = '<ul>'
      for (const rsl of results) {
        answers += '<li>' + question.definition.answerSettings.answers.find(answer => answer.id === rsl).text + '</li>'
      }
      answers += '</ul>'
      return answers
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/style/style";

  #dashboard {
    @media all and (min-width: $m) {
      background-color: rgba(255, 255, 255, 0.75);
    }

    table {
      border-collapse: collapse;

      thead {
        th {
          border: 1px solid black;
          padding: 5px;
        }

        th:first-child {
          border-top: none;
          border-left: none;
        }
      }

      tbody {
        td, th {
          border: 1px solid black;
          padding: 5px;
        }
      }
    }
  }
</style>
