<template>
  <section>
    <header>
      <h1>Les questionnaires</h1>
      <v-btn fab
             small
             color="principal"
             :to="{ name: 'admin_game_create' }"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </header>

    <section class="block__body">
      <div v-if="load.loading" class="game_progress-circular">
        <v-progress-circular indeterminate color="principal"/>
      </div>

      <game v-for="game in games"
            :key="game.id"
            :game-id="game.id"
            @on-delete="onDelete"
            v-else-if="load.loaded"
      />

      <p class="game__no-data" v-else>
        Aucun quizz,
        <router-link :to="{ name: 'admin_game_create' }">créez votre premier quizz</router-link>
      </p>
    </section>

    <v-dialog v-model="modal.display" width="500">
      <v-card>
        <v-card-title primary-title>Clôturer le quizz</v-card-title>

        <v-card-text>Êtes-vous sûr de vouloir clôturer le quizz ? Cette modification sera définitive.</v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary"
                 text
                 @click="onDeleteValid"
          >
            Clôturer
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AdminList',
  components: {
    game: () => import('@/components/Game/Game')
  },
  data: () => ({
    modal: {
      display: false,
      gameIdToDelete: null
    },
    load: {
      loading: true,
      loaded: false
    }
  }),
  computed: {
    ...mapGetters([
      'games'
    ])
  },
  watch: {
    games () {
      if (this.games.length === 0) this.load.loaded = false
    }
  },
  async created () {
    await this.loadGames()

    if (this.games.length !== 0) {
      this.load.loaded = true
    }

    this.load.loading = false
  },
  methods: {
    ...mapActions([
      'closeGame',
      'loadGames'
    ]),
    onDelete (gameId) {
      this.modal.gameIdToDelete = gameId
      this.modal.display = true
    },
    async onDeleteValid () {
      await this.closeGame(this.modal.gameIdToDelete)
      this.modal.display = false
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/style/listItemsStyle";
</style>
