<template>
  <section>
    <section class="block__body">
      <header>
        <aside>
          <h2>{{ game.title }}</h2>
          <div class="title__actions">
            <v-btn fab
                   small
                   color="cancel"
                   :to="{ name: 'admin_game_list' }"
            >
              <v-icon>mdi-arrow-left-thick</v-icon>
            </v-btn>

            <!--Ensemble de boutons smartphone-->
            <v-speed-dial v-model="speedDial.fab"
                          :direction="speedDial.direction"
                          :open-on-hover="speedDial.hover"
                          :transition="speedDial.transition"
            >
              <template #activator>
                <v-btn v-model="speedDial.fab"
                       fab
                       small
                       color="principal"
                >
                  <v-icon v-if="speedDial.fab">mdi-close</v-icon>
                  <v-icon v-else>mdi-plus</v-icon>
                </v-btn>
              </template>
              <v-btn fab
                     dark
                     small
                     color="principal"
                     @click.stop="onAddQuestion('image')"
              >
                <v-icon>mdi-image</v-icon>
              </v-btn>
              <v-btn fab
                     dark
                     small
                     color="principal"
                     @click.stop="onAddQuestion('video')"
              >
                <v-icon>mdi-youtube</v-icon>
              </v-btn>
              <v-btn fab
                     dark
                     small
                     color="principal"
                     @click.stop="onAddQuestion('text')"
              >
                <v-icon>mdi-comment-question</v-icon>
              </v-btn>
            </v-speed-dial>
          </div>
        </aside>
        <h1>Questions associées</h1>
      </header>
      <section id="questions">
        <section>
          <p v-if="noQuestion"
             class="question__no-data">
            Pas de question associée, cliquer sur le type de question que vous souhaitez créer dans le panneau sur votre
            droite.
          </p>
          <question-template v-for="question in questions"
                             :key="question.id"
                             :question-id="question.id"
                             :question-type="question.type"
                             v-else
          />
        </section>
      </section>
    </section>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AdminShow',
  components: {
    questionTemplate: () => import('@/components/Game/Questions/Question')
  },
  data: () => ({
    speedDial: {
      direction: 'bottom',
      fab: false,
      hover: false,
      transition: 'slide-y-reverse-transition'
    },
    indexLocal: 0
  }),
  computed: {
    ...mapGetters([
      'game',
      'questions'
    ]),
    /**
     * @return {Game}
     */
    gameLocal () {
      let gameEmpty = { id: null, title: '', description: '', createdAt: null, updatedAt: null, questions: [] }
      return this.game !== undefined ? this.game : gameEmpty
    },
    noQuestion () {
      return this.questions.length === 0
    }
  },
  async created () {
    await this.loadGame(this.$route.params.id)
  },
  methods: {
    ...mapActions([
      'addQuestion',
      'loadGame'
    ]),
    onAddQuestion (type) {
      this.addQuestion({ id: `new-${this.indexLocal}`, type })
      this.indexLocal += 1
      this.speedDial.fab = false
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/style/style";
  @import "../../assets/style/color";

  .block__body {
    @media all and (min-width: $m) {
      background-color: rgb(255, 255, 255, 0.75);
      padding: 5px;
    }

    header {
      aside {
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;

        @media all and (min-width: $m) {
          grid-template-columns: 7fr 1fr;
        }

        h2 {
          font-style: italic;
          opacity: 0.75;
          margin-bottom: 10px;
          word-wrap: break-word;
        }

        .title__actions {
          display: flex;
          justify-content: flex-end;

          .v-speed-dial::v-deep {
            button {
              z-index: 200;
            }
          }

          button {
            color: white;

            @media all and (min-width: $m) {
              background-color: $valid !important;
              border-color: $valid !important;
              color: black;
            }
          }

          a {
            margin-right: 10px;

            @media all and (min-width: $m) {
              margin-right: 20px;
            }
          }
        }
      }
    }

    #questions {
      padding: 10px;

      .question__no-data {
        margin: 10px 0 0 10px;
        font-style: italic;
      }
    }
  }
</style>
