<template>
  <section class="answer__container">
    <h2>Les réponses</h2>
    <v-select :items="types"
              v-model="type"
              label="Type de réponse"
              @change="onChangeAnswerType"
    />

    <component :is="type"
               :question="question"
    />
  </section>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Answer',
  components: {
    mcq: () => import('@/components/Game/Answers/MCQ'),
    open: () => import('@/components/Game/Answers/Open')
  },
  props: {
    /**
     * @type {Question}
     */
    question: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    type: null,
    types: [
      {
        value: 'mcq',
        text: 'Question à choix multiple ou unique'
      },
      {
        value: 'open',
        text: 'Question ouverte'
      }
    ]
  }),
  created () {
    if (this.question.definition.answerSettings.type !== '') {
      this.type = this.question.definition.answerSettings.type
    }
  },
  methods: {
    ...mapActions([
      'changeAnswerType'
    ]),
    onChangeAnswerType () {
      this.changeAnswerType({
        questionId: this.question.id,
        questionType: this.type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/style";

  .answer__container {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);

    @media all and (min-width: $m) {
      padding-left: 25px;
    }

    h2 {
      font-size: 18px;
      margin: 10px 0;
    }
  }
</style>
