<template>
  <section>
    <header>
      <h2>Réponses proposées</h2>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn fab small color="principal" @click.stop="onAddAnswer" v-on="on">
            <v-icon>mdi-plus-circle-outline</v-icon>
          </v-btn>
        </template>
        <span>Ajouter une proposition de réponse</span>
      </v-tooltip>
      <v-switch v-model="isQcu"
                :label="label"
                color="principal"
                @change="onChangeMcqUcq"
      />
    </header>

    <p v-if="noAnswers"
       class="answers__no-data"
    >
      Pas de réponse associée, cliquer sur le bouton <i class="mdi mdi-plus-circle-outline"></i> pour créer une nouvelle
      proposition de réponse.
    </p>

    <draggable v-model="question.definition.answerSettings.answers"
               group="mcqAnswers"
               @start="drag=true"
               @end="drag=false"
    >
      <mcq-response v-for="answer in question.definition.answerSettings.answers"
                    :key="answer.id"
                    :answer="answer"
                    @input="onChangeAnswerText"
                    @delete-answer="onDeleteAnswer"
      />
    </draggable>
  </section>
</template>

<script>
import draggable from 'vuedraggable'
import { mapActions } from 'vuex'
import answerMixin from '@/components/Game/Answers/answerMixin'

export default {
  name: 'MCQ',
  components: {
    draggable,
    mcqResponse: () => import('@/components/Game/Answers/MCQResponse')
  },
  mixins: [answerMixin],
  data: () => ({
    tooltip: {
      display: false
    },
    isQcu: false
  }),
  computed: {
    label () {
      return this.isQcu
        ? `Question à choix unique`
        : `Question à choix multiple`
    },
    noAnswers () {
      return this.question.definition.answerSettings.answers.length === 0
    }
  },
  created () {
    this.isQcu = typeof this.question.definition.answerSettings.qcu === 'boolean'
      ? this.question.definition.answerSettings.qcu
      : false
  },
  methods: {
    ...mapActions([
      'mcqChangeMcqUcq',
      'mcqAddAnswer',
      'mcqChangeAnswerText',
      'mcqDeleteAnswer'
    ]),
    onAddAnswer () {
      this.mcqAddAnswer(this.question.id)
    },
    onChangeAnswerText (payload) {
      payload.questionId = this.question.id
      this.mcqChangeAnswerText(payload)
    },
    onChangeMcqUcq (isQcu) {
      this.mcqChangeMcqUcq({ questionId: this.question.id, isQcu })
    },
    onDeleteAnswer (answerId) {
      this.mcqDeleteAnswer({ questionId: this.question.id, answerId })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../../assets/style/style";
  @import "../../../assets/style/color";

  header {
    display: flex;
    align-items: center;

    h2 {
      font-size: 18px;
    }

    button.v-btn {
      @media all and (min-width: $m) {
        margin-left: 25px;
        background-color: $valid !important;
        border-color: $valid !important;
      }
    }

    .v-input::v-deep {
      margin: 0 0 0 15px;
      padding: 0;

      @media all and (min-width: $m) {
        margin-left: 25px;
      }

      .v-input__slot {
        margin: 0;
      }

      .v-messages {
        display: none;
      }

      .v-input--switch__track.principal--text, .v-input--switch__thumb.principal--text {
        @media all and (min-width: $m) {
          color: $valid !important;
        }
      }
    }
  }

  .answers__no-data {
    font-style: italic;
    text-align: center;
    margin-top: 10px;

    @media all and (min-width: $m) {
      margin-left: 10px;
    }

    i {
      margin: 5px;
    }
  }
</style>
