<template>
  <article>
    <v-icon>mdi-drag</v-icon>
    <v-text-field label="Texte de la réponse" color="principal" :value="answer.text" @input="onChange" tabindex="1"/>

    <v-tooltip top>
      <template v-slot:activator="{ on }">
        <v-btn small fab color="cancel" @click.stop="onDelete" v-on="on" tabindex="2">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
      <span>Supprimer la proposition de réponse</span>
    </v-tooltip>
  </article>
</template>

<script>
export default {
  name: 'MCQResponse',
  props: {
    answer: {
      type: Object,
      required: true
    }
  },
  methods: {
    onChange (value) {
      this.$emit('input', { answerId: this.answer.id, value })
    },
    onDelete () {
      this.$emit('delete-answer', this.answer.id)
    }
  }
}
</script>

<style lang="scss" scoped>
  article {
    display: flex;
    align-items: center;

    i {
      margin-right: 10px;
      cursor: grab;
    }

    button::v-deep {
      margin-left: 15px;
      cursor: pointer;

      span {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          margin: 0;
        }
      }
    }
  }
</style>
