<template>
  <section>
    <v-text-field :value="question.definition.answerSettings.openNumberFields"
                  type="number"
                  min="1"
                  max="5"
                  step="1"
                  label="Nombre de champ de réponse (1 à 5)"
                  @input="onChangeNumberField"
    />
  </section>
</template>

<script>
import answerMixin from '@/components/Game/Answers/answerMixin'
import { mapActions } from 'vuex'

export default {
  name: 'Open',
  mixins: [answerMixin],
  methods: {
    ...mapActions([
      'openChangeNumberField'
    ]),
    onChangeNumberField (number) {
      this.openChangeNumberField({ questionId: this.question.id, number })
    }
  }
}
</script>
