@import "../../../assets/style/style";
@import "../../../assets/style/color";

section.question__container {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  header:first-child {
    position: relative;

    .save__question__button {
      position: absolute;
      top: 5px;
      right: 50px;

      @media all and (min-width: $m) {
        right: 60px;
        background-color: $valid !important;
      }

      i {
        font-size: 22px;
        color: white;

        @media all and (min-width: $m) {
          color: black;
        }
      }
    }

    .delete__question__button {
      position: absolute;
      top: 5px;
      right: 5px;

      i {
        font-size: 22px;
      }
    }

    h2 {
      font-size: 18px;
      margin-bottom: 25px;
      grid-column: 1/3;
    }
  }
}
