<template>
  <section class="question__container">
    <header>
      <h2>Question "Image"</h2>
      <div>
        <v-text-field label="Texte de la question"
                      :value="question.text"
                      @input="onChangeText"
                      type="text"
        />
        <v-text-field label="Label de la question (ne sera pas affiché)"
                      :value="question.definition.label"
                      @input="onChangeLabel"
                      type="text"
        />
        <v-file-input :rules="rules"
                      :label="label"
                      @change="onChangeFile"
                      accept="image/png, image/jpeg, image/bmp"
                      color="principal"
                      prepend-icon="mdi-camera"
                      show-size
        />
      </div>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn small fab color="principal" @click.stop="onSaveQuestion" class="save__question__button" v-on="on">
            <i class="mdi mdi-content-save-outline"></i>
          </v-btn>
        </template>
        <span>Enregistrer la question</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn small fab color="cancel" @click.stop="onDeleteQuestion" class="delete__question__button" v-on="on">
            <i class="mdi mdi-trash-can-outline"></i>
          </v-btn>
        </template>
        <span>Supprimer la question</span>
      </v-tooltip>
    </header>

    <section v-if="isSavedQuestion" class="image__presentation__container">
      <img :src="require(`@/assets/img/questions/${this.question.definition.fileName}`)" alt="Image de présentation"/>
    </section>

    <answer :question="question"/>
  </section>
</template>

<script>
import questionMixin from '@/components/Game/Questions/questionMixin'
import { mapActions } from 'vuex'

export default {
  name: 'Image_question',
  mixins: [questionMixin],
  data: () => ({
    file: null,
    rules: [
      value => !value || value.size < 2000000 || 'Vous devez choisir une image et elle doit faire moins de 2MB !'
    ]
  }),
  computed: {
    label () {
      return this.question.definition.fileName !== undefined ? 'Modifier l\'image' : 'Image de la question'
    }
  },
  watch: {
    file () {
      this.changeText({ questionId: this.questionId, text: this.file })
    }
  },
  methods: {
    ...mapActions([
      'changeDefinition'
    ]),
    onChangeFile (file) {
      this.changeDefinition({ questionId: this.questionId, text: file, type: 'file' })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "styleQuestion";
  @import "../../../assets/style/styleButtonPrincipal";

  .image__presentation__container {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 50%;
    }
  }
</style>
