<template>
  <section>
    <image-question :question-id="questionId"
                    v-if="questionType === 'image'"
    />
    <text-question :question-id="questionId"
                   v-else-if="questionType === 'text'"
    />
    <video-question :question-id="questionId"
                    v-else-if="questionType === 'video'"
    />
  </section>
</template>

<script>
export default {
  name: 'Question',
  components: {
    imageQuestion: () => import('@/components/Game/Questions/Image'),
    textQuestion: () => import('@/components/Game/Questions/Text'),
    videoQuestion: () => import('@/components/Game/Questions/Video')
  },
  props: {
    questionId: {
      type: [Number, String],
      required: true
    },
    questionType: {
      type: String,
      required: true
    }
  }
}
</script>
