<template>
  <section class="question__container">
    <header>
      <h2>Question "Texte"</h2>
      <v-text-field label="Texte de la question"
                    :value="question.text"
                    @input="onChangeText"
      />
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn small fab color="principal" @click.stop="onSaveQuestion" class="save__question__button" v-on="on">
            <i class="mdi mdi-content-save-outline"></i>
          </v-btn>
        </template>
        <span>Enregistrer la question</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn small fab color="cancel" @click.stop="onDeleteQuestion" class="delete__question__button" v-on="on">
            <v-icon>mdi-trash-can-outline</v-icon>
          </v-btn>
        </template>
        <span>Supprimer la question</span>
      </v-tooltip>
    </header>

    <answer :question="question"/>
  </section>
</template>

<script>
import questionMixin from '@/components/Game/Questions/questionMixin'

export default {
  name: 'Text_question',
  mixins: [questionMixin]
}
</script>

<style lang="scss" scoped>
  @import "styleQuestion";
  @import "../../../assets/style/styleButtonPrincipal";
</style>
