<template>
  <section class="question__container">
    <header>
      <h2>Question "Vidéo"</h2>
      <div>
        <v-text-field label="Texte de la question"
                      :value="question.text"
                      @input="onChangeText"
                      type="url"
        />
        <v-text-field label="Label de la question (ne sera pas affiché)"
                      :value="question.definition.label"
                      @input="onChangeLabel"
                      type="url"
        />
        <v-text-field label="URL de la vidéo"
                      :value="question.definition.url"
                      @input="onChangeURL"
                      type="url"
                      prepend-icon="mdi-video-outline"
        />
      </div>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn small fab color="principal" @click.stop="onSaveQuestion" class="save__question__button" v-on="on">
            <i class="mdi mdi-content-save-outline"></i>
          </v-btn>
        </template>
        <span>Enregistrer la question</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn small fab color="cancel" @click.stop="onDeleteQuestion" class="delete__question__button" v-on="on">
            <v-icon>mdi-trash-can-outline</v-icon>
          </v-btn>
        </template>
        <span>Supprimer la question</span>
      </v-tooltip>
    </header>

    <section v-if="isSavedQuestion" class="video__presentation__container">
      <iframe :src="videoUrl"
              width="560"
              height="315"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
      ></iframe>
    </section>

    <answer :question="question"/>
  </section>
</template>

<script>
import questionMixin from '@/components/Game/Questions/questionMixin'
import { mapActions } from 'vuex'

export default {
  name: 'Video_question',
  mixins: [questionMixin],
  computed: {
    videoUrl () {
      const videoId = this.question.definition.url.split('?v=')[1]
      return `https://www.youtube.com/embed/${videoId}`
    }
  },
  methods: {
    ...mapActions([
      'changeDefinition'
    ]),
    onChangeURL (url) {
      this.changeDefinition({ questionId: this.questionId, text: url, type: 'url' })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "styleQuestion";
  @import "../../../assets/style/styleButtonPrincipal";

  .video__presentation__container {
    display: flex;
    justify-content: center;

    iframe {
      max-width: 100%;
      width: 560px;
      height: 315px;
    }
  }
</style>
