<template>
  <v-app :style="{ backgroundImage: 'url(' + require('@/assets/img/static/body_bg.png') + ')' }">
    <desktop-nav/>
    <section id="container">
      <router-view/>
    </section>
    <smartphone-nav id="smartphone__menu"/>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  components: {
    DesktopNav: () => import('@/components/General/Nav/DesktopNav'),
    SmartphoneNav: () => import('@/components/General/Nav/SmartphoneNav')
  }
}
</script>

<style lang="scss" scoped>
  @import "assets/style/style";

  #app {
    background-attachment: fixed;
    background-size: cover;

    #container {
      width: 100%;
      margin-bottom: 56px;
      min-height: 100vh;
      padding: 15px;
      position: relative;
      background-color: #ffffff;

      @media all and (min-width: $m) {
        background-color: #152838;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        padding: 75px 15px 15px 15px;
        margin: 0 auto;
        width: $m;
      }

      @media all and (min-width: $l) {
        width: $l;
      }
    }

    #smartphone__menu {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;

      @media all and (min-width: $m) {
        display: none;
      }
    }
  }
</style>

<style lang="scss">
  @import "assets/style/color";
  @import "assets/style/style";

  * {
    color: $fontPrincipal;
    font-family: Roboto, sans-serif;
  }

  body {
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .v-tooltip__content {
    background-color: rgb(97, 97, 97) !important;
    opacity: 0.95 !important;

    span {
      color: white;
    }
  }

  h1 {
    font-size: 2em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
  }

  .v-input {
    .v-label {
      font-size: 14px;
      padding-left: 5px;

      &.v-label--active {
        color: $principal !important;

        @media all and (min-width: $m) {
          color: $validDark !important;
        }
      }
    }

    .valid--text {
      color: $principal !important;
      caret-color: $principal !important;

      @media all and (min-width: $m) {
        color: $validDark !important;
        caret-color: $validDark !important;
      }
    }

    .v-input__slot::after {
      border-color: $principal !important;

      @media all and (min-width: $m) {
        border-color: $validDark !important;
      }
    }
  }
</style>
